<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <script src="http://localhost:3000/socket.io/socket.io.js"></script> 
    <script src="./client.js"></script>
    <title>A collaborative Editor</title>
  </head>
  <body>
   <h2>
        Text Editor 
  </h2>
  <div>
    <textarea id="text" style="background-color: black; color: white" placeholder="Enter all your required text" rows="40" cols="60"></textarea>
  </div>
  </body>
</html>
